.carousel_title {
    width: fit-content;
}


.line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(36, 143, 190, 1) 0%, rgba(67, 58, 171, 1) 49%, rgba(124, 19, 158, 1) 100%);
    border-radius: 50%;
}

.tittle {
    padding: 0 10px 5px 10px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}