.container_search {
    margin: 15px 0px;
}

.strong_search {
    color: rgb(58, 73, 171);
}

.error-div {
    width: fit-content;
    height: 10vh;
    background: linear-gradient(90deg,  rgba(124, 19, 158, .5) 0%, rgba(67, 58, 171, .7) 49%,rgba(36, 143, 190, .5) 100%);
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}

.error-div > h2 {
    padding: 0;
}