.container_movie {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.container_movie > img {
    width: 30%;
    transition: transform 0.3s; 
}

.container_movie > img:hover {
    transform: scale(1.01); 
}

.title_div {
    padding: 20px;
    width: 80%;
}
.title_div > h2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 0;
}

.star_icon {
    width: 10%;
    color: #e8b315;
   
}

.movie_rate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.infos {
    width: 60%;
    background-color: #e8b315;
}

