.bg_carousel {
    padding: 10px;
    border-radius: 10px;
}

.carousel_container {
    padding: 20px 0px;
    /* background: linear-gradient(90deg, rgba(36, 143, 190, 0) 0%, rgba(67, 58, 171, 0.2) 49%, rgba(124, 19, 158, 0) 100%); */
}

.skeleton_custom {
    display: flex;
    width: 100px;
}